
/*CSS reset*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    
 font-family: HelveticaNeue, sans-serif;


}

/*My header*/
.hero #owl-carosel1 img{
    
/*    background: #ccc;*/
/*    background: url(Images/bjoern-meier-image2.jpg);*/
    z-index: -1;
    background-size: cover;
    background-position: center;
    height: 800px;
    height: 100vh; /*vh = view port height (this is new)*/
    margin-bottom: auto;
    width:200vh;
    position:relative;
}

.hero .back-shadow {

    position:absolute;
    
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
    background-color: rgba(0, 0, 0, 0.3);

}

.hero .hgroup {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    z-index: 10;
    background-position: center;
    text-align: center;
    color:white;
    text-shadow: 1px 1px black;
    font-style: italic;
    
/*    this is to makes sure so the 50% top is from the frame not the image...*/
/*    assists with centring*/
    -webkit-transform: translateY(-50%);
}

.hero h1 {
    font-size: 90px;
    font-weight: 700;
}

.hero h2 {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    font-style: normal;
}

.hero a .en-Lang
{
    position:absolute;
    left:50%;
    bottom:5%;
    text-align: center;
    -webkit-transform: translateX(-70%);
}

.hero a {
    background-color: rgba(0,0,0,0.7);
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 20px;
    width:200px;
    font-size: 13px;
    z-index: 10;
    
    position:absolute;
    left:50%;
    bottom:5%;
    text-align: center;
    -webkit-transform: translateX(-50%);
}

.hero a:hover {
     background-color: rgba(255,255,255,0.7);
     color:black;
}



/*For the list bits*/


.projects li h1{
    background-color: lightgrey;
    border-bottom-style: solid;
    border-color: grey;
    border-width: 1px;

}

.projects h1 {
    font-size:50px;
    font-weight:100;
    padding-left:50px;
    letter-spacing: 5px;
}

.projects span {
    font-size: 50px;
    font-weight:900;
}

.projects li div {
    display: none; /*this collapses the data   */
}

.projects .active div {
    display:block;
    background-color:white;
/*
    border-bottom-style:solid;
    border-color: grey;
    border-width: 1px;
*/
/*    position:relative;*/
    overflow:hidden;
}

.projects .active .content {
    display:inline-block;
/*    position:absolute;*/
    width:30%;
    padding-left:60px;
    padding-top:40px;
    padding-bottom:30px;
}


.projects .active .content-carosel  {
    display: inline-block; 
    width:60%;
    float:right;
/*
    position:absolute;
    right:300px;
*/
}

.projects .active .content-item{
    margin: 3px;
}

.projects .active .content-item img {
/*    display:block;*/
    width:70%;
    height:auto;
}

.projects li:hover h1 {
    background-color:white;   
}
.projects li img {
    height: 150px;
    width:250px;
}


/*This is for the footer*/
.footer {
    background: url(Images/bjoern-meier-footer.jpg);
/*    background: #abcdee;*/
    
    z-index: -10;
    background-size: cover;
    background-position: center;
    height: 800px;
    height: 100vh; /*vh = view port height (this is new)*/
    margin-bottom: auto;
    position:relative;
}

.footer .back-shadow {

    position:absolute;
    
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer h1{
 padding-bottom:30px;

}

.footer .footer-text
{
    width:550px;
    line-height: 140%;
    color:white;
    padding-left:40px;
    padding-top:40px;
    padding-bottom: 10px;
    text-shadow: 1px 1px black;
    letter-spacing:1px;
}


